Repository Kozea/Radicale, pull requests merged in 2025-04, with the labels that each got.

#1756 Website: Filter duplicate branch names
  documentation-generator/run.py
Labels: documentation

#1761 fix(auth/ldap): Extract user attribute from list in _login3
  radicale/auth/ldap.py
Labels: auth:ldap

#1764 Fix for 1758
  CHANGELOG.md
  radicale/item/filter.py
  radicale/tests/test_base.py
Labels: bug

#1762 Add LDAP start_tls support
  DOCUMENTATION.md
  config
  radicale/auth/ldap.py
  radicale/config.py
Labels: feature, auth:ldap

#1766 Fix 1765 put update
  CHANGELOG.md
  radicale/app/put.py
  radicale/tests/test_base.py
Labels: bug

#1769 Remove obsolete dateutil reference
  radicale/utils.py
Labels: cleanup

#1772 Add argon2 password hash support
  pyproject.toml
  radicale/auth/htpasswd.py
  radicale/tests/test_auth.py
  radicale/utils.py
  setup.py.legacy
Labels: auth

#1773 catch error on item.prepare in case of collection upload
  radicale/app/put.py
Labels: improvement
