Repository Kozea/Radicale, pull requests merged in 2025-03, with the labels that each got.

#1720 Adjustments related to reverse proxy
  CHANGELOG.md
  DOCUMENTATION.md
  config
  contrib/apache/radicale.conf
  pyproject.toml
  radicale/app/__init__.py
  radicale/app/get.py
  radicale/config.py
  radicale/storage/multifilesystem/move.py
  setup.py.legacy
Labels: reverse proxy, improvement

#1724 Support for bundled InfCloud client
  CHANGELOG.md
  DOCUMENTATION.md
  radicale/httputils.py
  radicale/web/internal_data/css/main.css
  radicale/web/internal_data/index.html
Labels: client, webui

#1726 Extend https info in log
  CHANGELOG.md
  radicale/app/__init__.py
  radicale/server.py
Labels: improvement

#1728 Catch invalid salt
  CHANGELOG.md
  radicale/auth/htpasswd.py
Labels: improvement, auth

#1729 Htpasswd cosmetic bcrypt extensions
  CHANGELOG.md
  radicale/auth/htpasswd.py
  radicale/tests/test_auth.py
Labels: improvement, auth, auth:bcrypt

#1731 Add remote auth warn if not loopback
  CHANGELOG.md
  DOCUMENTATION.md
  radicale.wsgi
  radicale/auth/__init__.py
  radicale/auth/http_x_remote_user.py
  radicale/auth/remote_user.py
  radicale/server.py
  radicale/utils.py
Labels: documentation, improvement

#1733 Auth default type changed to denyall
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/config.py
  radicale/tests/test_base.py
  radicale/tests/test_rights.py
  radicale/tests/test_storage.py
Labels: documentation, task

#1737 Fix: auth/htpasswd related to detection and use of bcrypt
  CHANGELOG.md
  pyproject.toml
  radicale/auth/htpasswd.py
  setup.py.legacy
Labels: auth:bcrypt

#1740 added configuration to enable radicale LDAP with Authentik
  DOCUMENTATION.md
  config
  radicale/auth/ldap.py
  radicale/config.py
Labels: need:reporter feedback, auth:ldap

#1742 Update ldap.py
  radicale/auth/ldap.py
Labels: auth:ldap

#1747 Hook extension for path of uploaded file
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/app/put.py
  radicale/storage/multifilesystem/lock.py
Labels: feature

#1750 Lock location review
  CHANGELOG.md
  radicale/storage/multifilesystem/__init__.py
  radicale/storage/multifilesystem/lock.py
Labels: bug, improvement

#1751 Fix 1515
  radicale/app/report.py
Labels: upcoming incompatibility
