Repository Kozea/Radicale, pull requests merged in 2025-01, with the labels that each got.

#1668 add optional cache for login result and htpasswd + fixes
  .github/workflows/test.yml
  CHANGELOG.md
  DOCUMENTATION.md
  config
  pyproject.toml
  radicale/app/__init__.py
  radicale/auth/__init__.py
  radicale/auth/htpasswd.py
  radicale/config.py
  radicale/tests/test_auth.py
  setup.py.legacy
Labels: feature, improvement, auth:ldap, auth, auth:bcrypt

#1669 More LDAP auth patches
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/auth/ldap.py
  radicale/config.py
Labels: auth:ldap

#1678 Add support for Dovecot auth over network
  radicale/auth/__init__.py
  radicale/auth/dovecot.py
  radicale/config.py
Labels: feature, auth

#1681 Merge auth imap
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/auth/__init__.py
  radicale/auth/imap.py
  radicale/config.py
Labels: feature, auth

#1682 add logging entries for dovecot, adjust for imap
  radicale/auth/dovecot.py
  radicale/auth/imap.py
Labels: task
