Repository Kozea/Radicale, pull requests merged in 2025-09, with the labels that each got.

#1860 auth: dovecot: pass rip= to auth server
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/app/__init__.py
  radicale/auth/__init__.py
  radicale/auth/dovecot.py
  radicale/config.py
  radicale/tests/test_auth.py
Labels: auth

#1868 auth: clean up remote IP parameters/documentation
  CHANGELOG.md
  DOCUMENTATION.md
  config
  radicale/auth/__init__.py
  radicale/auth/dovecot.py
  radicale/config.py
  radicale/tests/test_auth.py
Labels: auth

#1882 Fix 1878
  CHANGELOG.md
  radicale/auth/dovecot.py
Labels: auth

#1883 Fix for #1880 and finally for #1812
  radicale/app/report.py
  radicale/tests/static/event_issue1812_getetag.ics
  radicale/tests/static/event_issue1880_1.ics
  radicale/tests/static/event_issue1880_2.ics
  radicale/tests/test_expand.py
Labels: bug

#1887 Ldap auth overhaul
  CHANGELOG.md
  radicale/auth/ldap.py
Labels: auth:ldap
